#card-activity {
    border-width: 0.0625rem;
    border-radius: 0.5rem;
    border-color: color-mix(in oklch, var(--border) 45%, transparent);
    background-color: var(--background);
}

#card-activity .card-activity-title {
    padding: 1rem 2rem;
}

#card-activity .card-activity-title h3 {
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 1;
    letter-spacing: -0.015em;
}

#card-activity .card-activity-detail {
    margin: 0.5rem 2rem;
    padding: 0.75rem;
    border-radius: 0.5rem;
    background-color: var(--card-activity-detail-bg);
    transition: background-color 0.3s ease;
}

#card-activity .card-activity-detail:hover {
    background-color: var(--card-activity-detail-hover);
}

#card-activity .card-activity-detail-icon {
    height: 2.5rem;
    width: 2.5rem;
    border-radius: 9999px;
    background-color: var(--card-activity-detail-icon-bg);
}