.calendar {
    position: absolute;
    margin-top: 0.5rem;
    left: 0;
    width: 100%;
    background-color: var(--card-bg);
    border: 1px solid var(--border);
    border-radius: 0.75rem;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
        0 4px 6px -4px rgba(0, 0, 0, 0.1);
    z-index: 20;
}

.calendar .calendar-header {
    background-color: var(--header-bg);
}

.calendar .month-label {
    color: var(--text-primary);
    font-weight: 600;
}

.calendar button {
    padding: 0.25rem;
    border-radius: 9999px;
}

.calendar button:hover {
    background-color: color-mix(in oklch, var(--primary-dark) 45%, transparent);
    color: var(--text-secondary);
}

.calendar .days-week {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    text-align: center;
    color: var(--text-primary);
    font-size: 0.875rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.calendar .days-month {
    /*display: grid;
    grid-template-columns: repeat(7, 1fr);
    text-align: center;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    padding-bottom: 0.5rem;*/
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 0.25rem;
    text-align: center;
}

.calendar .day-of-month:hover {
    background-color: var(--primary-dark);
    color: var(--text-secondary);
}

.calendar .day-of-month-start,
.calendar .day-of-month-end {
    color: var(--text-secondary);
    background-color: var(--primary);
}

.calendar .day-range{
    background-color: color-mix(in oklch, var(--primary) 20%, transparent);
}

.fade-in {
    animation: fadeIn 0.15s ease-out forwards;
}

.fade-out {
    animation: fadeOut 0.15s ease-in forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: scale(0.95);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
        transform: scale(1);
    }

    to {
        opacity: 0;
        transform: scale(0.95);
    }
}