.input-suggestion {
    width: 100%;
    height: 2.5rem;
    padding: 0.5rem 1rem;
    font-size: 0.875rem;
    font-weight: 400;
    border-radius: 0.375rem;
    border: 1px solid var(--border);
    background-color: var(--input-bg);
    color: var(--text-primary);
    outline: none;
    transition: box-shadow 0.3s ease;
}

.input-suggestion:focus-visible {
    box-shadow: 0 0 0 2px var(--primary-dark);
    outline-offset: 1px;
}

.input-suggestion-list {
    font-size: 0.875rem;
    width: 100%;
    position: absolute;
    left: 0;
    right: 0;
    top: auto;
    background-color: var(--background);
    border: 1px solid var(--border);
    border-radius: 0.375rem;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
        0 4px 6px -2px rgba(0, 0, 0, 0.05);
    z-index: 10;
    max-height: 12rem;
    overflow-y: auto;
}

.input-suggestion-list li{
    border-radius: 0.375rem;
}

.input-suggestion-list li:hover{
    background-color: var(--primary-dark);
}

.list-fade-in {
    animation: fadeIn 0.25s ease-in-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-5px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.input-suggestion-icon {
    width: 100%;
    height: 2.5rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 2.5rem;
    padding-right: 0.5rem;
    font-size: 0.875rem;
    font-weight: 400;
    border-radius: 0.375rem;
    border: 1px solid var(--border);
    background-color: var(--input-bg);
    color: var(--text-primary);
    outline: none;
    transition: box-shadow 0.3s ease;
}

.input-suggestion-icon:focus-visible {
    box-shadow: 0 0 0 2px var(--primary-dark);
    outline-offset: 1px;
}