#login-info {
    background-image: url('../../img/logo-fondo.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}

#login-info .login-info-logo {
    padding: 3rem 2rem;
}

#login-info .login-info-logo img {
    padding-right: 2rem;
    height: 5rem;
}

#login-info .login-info-logo h1 {
    font-size: 4rem;
    font-weight: 700;
}

#login-info .login-info-msg {
    margin-top: 8rem;
    padding: 0rem 2rem;
}

#login-info .login-info-msg-1 {
    font-size: 2.5rem;
    font-weight: 900;
    line-height: 1;
}

#login-info .login-info-msg-2 {
    padding-top: 1rem;
    font-size: 1.25rem;
    font-weight: 900;
}

#login-info .login-info-footer {
    width: 50%;
    position: absolute;
    text-align: center;
    bottom: 0;
    padding: 1rem 2rem;
}

/*card*/
.login-card {
    width: 100%;
    border-radius: 0.375rem;
    color: var(--text-primary);
    box-shadow: 0 0.125rem 0.25rem var(--shadow-color);
    max-width: 28rem;
    border-width: 0.125rem;
    border-style: solid;
    border-color: color-mix(in oklch, var(--border) 50%, transparent) ;
    background-color: color-mix(in oklch, var(--card-bg) 50%, transparent);
}

.login-card .login-card-content .login-card-content-title {
    padding: 1.5rem;
}

.login-card .login-card-content .login-card-content-title h3 {
    font-size: 1.5rem;
    font-weight: 700;
    text-align: center;
}

.login-card .login-card-content .login-card-content-form {
    padding: 0rem 1.5rem 1.5rem 1.5rem;
}

.login-card .login-card-content .login-card-content-form .email label {
    font-size: 0.875rem;
    font-weight: 500;
    line-height: 1;
}


