#login-info {
    background-image: url('../../img/logo-fondo.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}

#login-info .login-info-logo {
    padding: 3rem 2rem;
}

#login-info .login-info-logo img {
    padding-right: 2rem;
    height: 5rem;
}

#login-info .login-info-logo h1 {
    font-size: 4rem;
    font-weight: 700;
}

#login-info .login-info-msg {
    margin-top: 8rem;
    padding: 0rem 2rem;
}

#login-info .login-info-msg-1 {
    font-size: 2.5rem;
    font-weight: 900;
}

#login-info .login-info-msg-2 {
    padding-top: 1rem;
    font-size: 1.25rem;
    font-weight: 900;
}

#login-info .login-info-footer {
    position: absolute;
    bottom: 0;
    padding: 1rem 2rem;
}

/*card*/
.login-card {
    width: 100%;
    border-radius: 0.5rem;
    color: oklch(0.13 0.028 261.692);
    box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.3);
    max-width: 28rem;
    border-width: 0.125rem;
    border-style: solid;
    border-color: oklch(0.45 0.085 224.283);
    background-color: ooklch(0.946 0.033 307.174);
}

.login-card .login-card-content .login-card-content-title {
    padding: 1.5rem;
}

.login-card .login-card-content .login-card-content-title h3 {
    font-size: 1.5rem;
    font-weight: 700;
    text-align: center;
}

.login-card .login-card-content .login-card-content-form {
    padding: 0rem 1.5rem 1.5rem 1.5rem;
}

.login-card .login-card-content .login-card-content-form .email label {
    font-size: 0.875rem;
    font-weight: 500;
    line-height: 1;
}

.login-card .login-card-content .login-card-content-form .email input,
.login-card .login-card-content .login-card-content-form .pass input {
    width: 100%;
    height: 2.75rem;
    padding: 0.5rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    border-radius: 0.375rem;
    border: 1px solid oklch(0.551 0.027 264.364);
    background-color: oklch(0.985 0.002 247.839);
    color: oklch(0.21 0.034 264.665);
    outline: none;
    transition: box-shadow 0.3s ease;
}

.login-card .login-card-content .login-card-content-form .pass input:focus-visible,
.login-card .login-card-content .login-card-content-form .email input:focus-visible {
    box-shadow: 0 0 0 2px oklch(0.45 0.085 224.283);
    outline-offset: 1px;
}

.login-card .login-card-content .login-card-content-form .remember-me {
    font-size: 0.875rem;
    gap: 0.5rem;
    cursor: pointer;
}

.login-card .login-card-content .login-card-content-form .remember-me input[type="checkbox"] {
    border-radius: 0.25rem;
    accent-color: oklch(0.45 0.085 224.283);
}

.login-card .login-card-content .login-card-content-form a {
    font-size: 0.875rem;
    text-decoration: none;
}

.login-card .login-card-content .login-card-content-form a:hover {
    text-decoration: underline;
}
