.modal-overlay-plan-new {
    position: fixed;
    inset: 0;
    z-index: 50;
    background-color: rgba(0, 0, 0, 0.5);
    /*display: none;*/
    align-items: center;
    justify-content: center;

    animation-duration: 0.25s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}

#modal-plan-new {
    background: var(--background);
    width: 100%;
    max-width: 40%;
    height: 90vh;
    overflow-y: auto;
    border-width: 2px;
    border-radius: 0.75rem;
    border-style: solid;
    border-color: color-mix(in oklch, var(--border) 30%, transparent);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    padding: 1.5rem;

    animation-duration: 0.25s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}


.modal-plan-new-enter {
    animation-name: modalIn;
}

.modal-plan-new-exit {
    animation-name: modalOut;
}

@keyframes modalIn {
    from {
        transform: translateY(30px);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes modalOut {
    from {
        transform: translateY(0);
        opacity: 1;
    }

    to {
        transform: translateY(30px);
        opacity: 0;
    }
}

#modal-plan-new .title {
    padding-bottom: 1rem;
    color: var(--text-tertiary);
    font-weight: 700;
    letter-spacing: -0.015em;
    font-size: 1.5rem;
    line-height: 2rem;
}

#modal-plan-new .subtitle {
    font-size: 1.125rem;
    font-weight: 600;
}

#modal-plan-new .label,
.session-accordion-content-name .label,
.session-accordion-content-order .label {
    font-size: 0.875rem;
    font-weight: 500;
    line-height: 1;
    opacity: 0.8;
    color: var(--text-primary);
}

#sessions-container {
    height: calc(90vh - 550px);
    display: flex;
    flex-direction: column;
    border-radius: 0.375rem;
    gap: 0.1rem;
    overflow-y: auto;
}

#sessions-container .session {
    outline: none;
    border-radius: 0.375rem;
}

.session-accordion {
    outline: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem;
    border-radius: 0.375rem;
    border-bottom: 1px solid var(--border);
    background-color: var(--accordion-header-bg);
}

.session-accordion-open {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-weight: 500;
    font-size: 1.125rem;
}

.session-accordion-content {
    border-width: 1px;
    border-color: var(--border);
    background-color: var(--accordion-bg); 
    border-radius: 0.375rem;  
    display: flex;
    flex-direction: column;
    gap: 1rem;  
    overflow: hidden;
    max-height: 0;
    opacity: 0;
    transition: all 0.3s ease-in-out;
}

.session-accordion-content.open {
    padding-bottom: 1.5rem;
    max-height: 2000px;
    opacity: 1;
    transition: all 0.1s ease-in-out;
}

.session-exercises {
    padding: 0rem 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    opacity: 1;
    max-height: 2000px;
}

.session-exercises label {
    font-size: 1.125rem;
    font-weight: 400;
    color: var(--text-primary);
}

.session-exercise {
    margin: 1rem; 
    border-width: 2px;   
    border-color: color-mix(in oklch, var(--border) 75%, transparent);
    border-radius: 0.375rem;
    padding: 1rem;
    background-color: color-mix(in oklch, var(--accordion-header-bg) 50%, transparent);
}

.session-exercise>*+* {
    margin-top: 1rem;
}

.session-exercise-title{
    font-size: 1rem;
    font-weight: 500;
}



