.progress-container {
  margin-top: 0.5rem;
  position: relative;
  width: 100%;
  max-width: 100rem;
  height: 1rem;
  background-color: color-mix(in oklch, var(--text-muted) 30%, transparent);
  border-radius: 0.625rem;
  overflow: hidden;
  display: flex;
  align-items: center;
}

.progress-bar {
  height: 100%;
  background-color: var(--exercise-color);
  width: 0%;
  transition: width 0.4s ease;
  position: relative;
}

.progress-label {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: .75rem;
  font-weight: bold;
  color: white;
  z-index: 2;
  pointer-events: none;
}