.progress-container {
  position: relative;
  width: 100%;
  max-width: 26rem;
  height: 1rem;
  background-color: color-mix(in oklch, var(--text-muted) 30%, transparent);
  border-radius: 0.625rem;
  overflow: hidden;
  display: flex;
  align-items: center;
}

.progress-bar {
  height: 100%;
  background-color: var(--exercise-color);
  width: 0%;
  transition: width 0.4s ease;
}

.progress-label {
  position: absolute;
  right: 12rem;
  font-size: .875rem;
  font-weight: bold;
  color: color-mix(in oklch, var(--text-primary) 60%, transparent);
}