.ubuntu-light {
    font-family: "Ubuntu", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.ubuntu-regular {
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.ubuntu-medium {
    font-family: "Ubuntu", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.ubuntu-bold {
    font-family: "Ubuntu", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.ubuntu-light-italic {
    font-family: "Ubuntu", sans-serif;
    font-weight: 300;
    font-style: italic;
}

.ubuntu-regular-italic {
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
    font-style: italic;
}

.ubuntu-medium-italic {
    font-family: "Ubuntu", sans-serif;
    font-weight: 500;
    font-style: italic;
}

.ubuntu-bold-italic {
    font-family: "Ubuntu", sans-serif;
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: 'Material Symbols Outlined';
    font-style: normal;
    font-weight: 400;
    src: url('../../fonts/Material-Symbols-Outlined.woff2') format('woff2');
}

.material-symbols-outlined {
    font-family: 'Material Symbols Outlined';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-smoothing: antialiased;
}

:root {
    /* === Colores base === */
    --background: oklch(0.968 0.007 247.896);
    --header-bg: oklch(0.929 0.013 255.508);
    --sidebar-bg: oklch(0.869 0.022 252.894);
    --sidebar-title-bg: oklch(0.869 0.022 252.894);
    --card-bg: #ffffff;
    --border: oklch(0.929 0.013 255.508);

    /* === Tipografía === */
    --text-primary: oklch(0.21 0.034 264.665);
    --text-secondary: oklch(0.928 0.006 264.531);
    --text-muted: oklch(0.551 0.027 264.364);
    /* === Colores principales === */
    --primary: oklch(0.609 0.126 221.723);
    --primary-dark: oklch(0.45 0.085 224.283);
    /* === Acentos === */
    --accent: oklch(0.723 0.219 149.579);
    --accent-hover: oklch(0.527 0.154 150.069);
    /* === Estados === */
    --success: oklch(0.765 0.177 163.223);
    --warning: oklch(0.75 0.183 55.934);
    --destructive: oklch(0.577 0.245 27.325);
    /* === Extras === */
    --shadow-color: rgba(0, 0, 0, 0.05);
    --input-bg: #ffffff;
    --input-border: oklch(0.872 0.01 258.338);
    --hover-bg: oklch(0.928 0.006 264.531);
    --scrollbar-thumb: oklch(0.872 0.01 258.338);
    --scrollbar-track: oklch(0.551 0.027 264.364);
}

.dark {
    /* === Colores base === */
    --background: oklch(0.279 0.041 260.031);
    --header-bg: oklch(0.372 0.044 257.287);
    --sidebar-bg: oklch(0.208 0.042 265.755);
    --sidebar-title-bg: oklch(0.208 0.042 265.755);
    --card-bg: oklch(0.446 0.043 257.281);
    --border: oklch(0.554 0.046 257.417);
    /* === Tipografía === */
    --text-primary: oklch(0.985 0.002 247.839);
    --text-secondary: oklch(0.967 0.003 264.542);
    --text-muted: oklch(0.707 0.022 261.325);
    /* === Colores principales === */
    --primary: oklch(0.438 0.218 303.724);
    --primary-dark: oklch(0.291 0.149 302.717);
    /* === Acentos === */
    --accent: oklch(0.62 0.13 30);
    --accent-hover: oklch(0.52 0.13 30);
    /* === Estados === */
    --success: oklch(0.765 0.177 163.223);
    --warning: oklch(0.75 0.183 55.934);
    --destructive: oklch(0.577 0.245 27.325);
    /* === Extras === */
    --shadow-color: rgba(255, 255, 255, 0.7);
    --input-bg: #0f172a;
    --input-border: var(--color-gray-500);
    --hover-bg: #1e293b;
    --scrollbar-thumb: oklch(0.208 0.042 265.755);
    --scrollbar-track: oklch(0.446 0.03 256.802);
}

html,
body {
    font-family: 'Ubuntu', sans-serif;
    background-color: var(--background);
    color: var(--text-primary);
    transition: background-color 0.3s, color 0.3s;
    height: 100%;
    margin: 0;
    overflow: hidden;
}

/* scrollbar ----------------------------------- */
* {
    scrollbar-width: thin;
    scrollbar-color: var(--scrollbar-track) var(--scrollbar-thumb);
}

/* button ------------------------------------- */
.button {
    gap: 0.5rem;
    white-space: nowrap;
    border-radius: 0.375rem;
    font-size: 1rem;
    font-weight: 500;
    padding: 0.5rem 1rem;
    width: 100%;
    height: 2.75rem;
    background-color: var(--primary);
    color: oklch(0.985 0.002 247.839);
    box-shadow: 0 0 0 1px var(--shadow-color);
    transition: color 0.2s ease, background-color 0.2s ease;
    outline: none;
}

.button:hover {
    background-color: var(--primary-dark);
}

/* sidebar */
#sidebar {
    width: 16rem;
    background-color: var(--sidebar-bg);
}

#sidebar .title {
    height: 6rem;
    margin: 0rem 0.5rem;
    background-color: var(--sidebar-title-bg);
    border-bottom-color: var(--border);
    border-bottom-width: 0.125rem;
}

#sidebar .title h1 {
    font-size: 2rem;
}

#main-menu {
    padding-top: 1rem;
}

#sidebar .sidebar-item {
    margin-top: 0.5rem;
    transition: background-color 0.3s;
}

#sidebar .sidebar-item:hover {
    background-color: var(--primary-dark);
    color: var(--text-secondary);
}

#sidebar .sidebar-item.active {
    background-color: var(--primary);
    color: var(--text-secondary);
    font-weight: 500;
}

#sidebar .footer {
    padding: 0.5rem;
    width: 16rem;
    position: fixed;
    bottom: 0;
    left: 0;
}

/* header */
.header {
    background-color: var(--header-bg);
    height: 6rem;
}

.header .header-text {
    padding-left: 2rem;
}

.header .header-theme {
    padding-right: 2rem;
}

.header h1 {
    font-size: 1.5rem;
    font-weight: 600;
    transition: opacity 0.3s ease-out;
}

.header p {
    font-size: 1rem;
    font-weight: 400;
    transition: opacity 0.3s ease-out;
}

.button-round {
    color: var(--text-primary);
    font-size: 1rem;
    padding: 0.5rem;
    text-align: center;
}

.button-round:hover {
    background-color: var(--primary-dark);
    color: var(--text-secondary);
    transition: background-color 0.3s ease-in;
}

/* content */
.content {
    height: calc(100vh - 6rem);
    overflow-y: auto;
}

#container {
    padding: 2rem;
}